<!DOCTYPE html>
<html lang="en">

<head>
	<title>Ammo.js Raycast vehicle demo</title>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, user-scalable=no, minimum-scale=1.0, maximum-scale=1.0">
	<style>
		body {
			color: #ffffff;
			font-family: Monospace;
			font-size: 13px;
			text-align: center;

			background-color: #bfd1e5;
			margin: 0px;
			overflow: hidden;
		}

		#speedometer {
			color: #ffffff;
			background-color: #990000;
			position: absolute;
			bottom: 0px;
			padding: 5px;
		}

		#info {
			position: absolute;
			top: 0px;
			width: 100%;
			padding: 5px;
		}

		a {
			color: #a06851;
		}

		#blocker {
				position: absolute;
				width: 100%;
				height: 100%;
				background-color: rgba(29, 29, 29, 0.87);
			}

			#instructions {
				width: 100%;
				height: 100%;

				display: flex;
				flex-direction: column;
				justify-content: center;
				align-items: center;

				text-align: center;
				font-size: 14px;
				cursor: pointer;
			}
	</style>
</head>

<body>
	<div id="canvas">

        <div id="blocker">
            <div id="instructions">

                <p style="font-size:60px">
                    CLICK TO PLAY
                </p>
                <p style="font-size:90">
                    Bienvenu(e) dans un monde virtuel, louez une trottinette et vous serez libre ! <br />
					<p style="font-size:90">
						Crédit : ESGI - PSP <br />

            </p>
            </div>
        </div>

    </div>

	<script src="./builds/ammo.js"></script>

	<script src="/src/js/three/three.min.js"></script>
	<script src="/src/js/three/OrbitControls.js"></script>
	<script src="/src/js/three/Detector.js"></script>
	<script src="/src/js/three/stats.min.js"></script>
	

	<script type="module">

		import { PointerLockControls } from 'https://cdn.skypack.dev/three@0.132.2/examples/jsm/controls/PointerLockControls.js';

		let distanteCam;
		var temp = new THREE.Vector3;


		Ammo().then(function (Ammo) {

			// Detects webgl
			if (!Detector.webgl) {
				Detector.addGetWebGLMessage();
				document.getElementById('container').innerHTML = "";
			}

			// - Global variables -
			var DISABLE_DEACTIVATION = 4;
			var TRANSFORM_AUX = new Ammo.btTransform();
			var ZERO_QUATERNION = new THREE.Quaternion(0, 0, 0, 1);

			// Graphics variables
			var container, stats, speedometer;
			var camera, controls, scene, renderer;
			var terrainMesh, texture;
			var clock = new THREE.Clock();
			var materialDynamic, materialStatic, materialInteractive;

			// Physics variables
			var collisionConfiguration;
			var dispatcher;
			var broadphase;
			var solver;
			var physicsWorld;

			var syncList = [];
			var time = 0;
			var objectTimePeriod = 3;
			var timeNextSpawn = time + objectTimePeriod;
			var maxNumObjects = 30;

			// Keybord actions
			var actions = {};
			var keysActions = {
				"KeyW": 'acceleration',
				"KeyS": 'braking',
				"KeyA": 'left',
				"KeyD": 'right'
			};



			// - Functions -

			function getRandomInt(max) {
				return Math.floor(Math.random() * max);
			}

			function getRandomForBuilding(min,max) {
				
				const x = Math.floor(Math.random() * max) + min;
				return x;
				
			}

			function initGraphics() {

				container = document.getElementById('canvas');
				speedometer = document.getElementById('speedometer');

				scene = new THREE.Scene();

				camera = new THREE.PerspectiveCamera(60, window.innerWidth / window.innerHeight, 0.2, 2000);
				camera.position.x = -2;
				camera.position.y = 12;
				camera.position.z = -90;
				camera.lookAt(scene.position);

				
				controls = new PointerLockControls( camera, document.body );
				const blocker = document.getElementById( 'blocker' );
				const instructions = document.getElementById( 'instructions' );                                 

				instructions.addEventListener( 'click', function () {         
                    
                    // Capture d'événement + LOCK Camera

					controls.lock();

				} );

				controls.addEventListener( 'lock', function () {

                    // Si l'événement lock est déclenché on retire CLICK FOR PLAY

					instructions.style.display = 'none';
					blocker.style.display = 'none';

				} );

				controls.addEventListener( 'unlock', function () {

                    // Sinon on continue à l'afficher

					blocker.style.display = 'block';
					instructions.style.display = '';

				} );

				renderer = new THREE.WebGLRenderer({ antialias: true });
				renderer.setClearColor(0xC9EAFF );
				renderer.setPixelRatio(window.devicePixelRatio);
				renderer.setSize(window.innerWidth, window.innerHeight);

				var ambientLight = new THREE.AmbientLight(0x404040);
				scene.add(ambientLight);

				var dirLight = new THREE.DirectionalLight(0xffffff, 1);
				dirLight.position.set(10, 10, 5);
				scene.add(dirLight);

				materialDynamic = new THREE.MeshPhongMaterial({ color: 0xfca400 });
				materialStatic = new THREE.MeshPhongMaterial({ color: 0x999999 });
				materialInteractive = new THREE.MeshPhongMaterial({ color: 0x990000 });

				// container.innerHTML = "";

				container.appendChild(renderer.domElement);

				// stats = new Stats();
				// stats.domElement.style.position = 'absolute';
				// stats.domElement.style.top = '0px';
				// container.appendChild(stats.domElement);

				window.addEventListener('resize', onWindowResize, false);
				window.addEventListener('keydown', keydown);
				window.addEventListener('keyup', keyup);
			}

			function onWindowResize() {

				camera.aspect = window.innerWidth / window.innerHeight;
				camera.updateProjectionMatrix();

				renderer.setSize(window.innerWidth, window.innerHeight);

			}

			function initPhysics() {

				// Physics configuration
				collisionConfiguration = new Ammo.btDefaultCollisionConfiguration();
				dispatcher = new Ammo.btCollisionDispatcher(collisionConfiguration);
				broadphase = new Ammo.btDbvtBroadphase();
				solver = new Ammo.btSequentialImpulseConstraintSolver();
				physicsWorld = new Ammo.btDiscreteDynamicsWorld(dispatcher, broadphase, solver, collisionConfiguration);
				physicsWorld.setGravity(new Ammo.btVector3(0, -9.82, 0));
			}

			function tick() {
				requestAnimationFrame(tick);
				var dt = clock.getDelta();
				for (var i = 0; i < syncList.length; i++)
					syncList[i](dt);
				physicsWorld.stepSimulation(dt, 10);
				

				temp.setFromMatrixPosition(distanteCam.matrixWorld)
				camera.position.lerp(temp, 0.9)
				// camera.lookAt(temp)
				// camera.position.Lerp(temp,0.9)
				// camera.lookAt(camera.position.lerp(temp, 0.9));

				renderer.render(scene, camera);
				time += dt;
				stats.update();
			}

			function keyup(e) {
				if (keysActions[e.code]) {
					actions[keysActions[e.code]] = false;
					e.preventDefault();
					e.stopPropagation();
					return false;
				}
			}
			function keydown(e) {
				if (keysActions[e.code]) {
					actions[keysActions[e.code]] = true;
					e.preventDefault();
					e.stopPropagation();
					return false;
				}
			}

			function createThree(pos, quat, w, l, h) {

				x = getRandomInt(3)
				console.log(x)

				const three = new THREE.Group();

				const handle = new THREE.BoxGeometry(1.5, 10, 1.5, 1, 1, 1);
				const meshHandle = new THREE.Mesh(handle, new THREE.MeshLambertMaterial({ color: 0x783f04 }));

				three.add(meshHandle)

				const top = new THREE.SphereGeometry(4, 60);

				switch (x) {
					case 0:
						leafcolor = 0x6aa84f;
						break;
					case 1:
						leafcolor = 0x2f6617;
						break;
					case 2:
						leafcolor = 0xc4800b;
						break;
					case 3:
						leafcolor = 0x7c5d27;
						break;
					default:
						leafcolor = 0xf08cf7;
						break;

				}

				const meshTop = new THREE.Mesh(top, new THREE.MeshLambertMaterial({ color: leafcolor }));

				meshTop.position.y = 5;

				three.add(meshTop)


				three.position.copy(pos);

				scene.add(three);
				return three;



			}

			function createFence(pos, quat, w, l, h, rotationVariable) {

				const fence = new THREE.Group();

				const right = new THREE.BoxGeometry(1, 3, 1, 1, 1, 1);
				const rightHandle = new THREE.Mesh(right, new THREE.MeshLambertMaterial({ color: 0x783f04 }));

				fence.add(rightHandle)

				const left = new THREE.BoxGeometry(1, 3, 1, 1, 1, 1);
				const leftHandle = new THREE.Mesh(left, new THREE.MeshLambertMaterial({ color: 0x783f04 }));

				leftHandle.position.x = 5;
				fence.add(leftHandle)

				const bar = new THREE.BoxGeometry(5, 0.4, 1, 1, 1, 1)
				const barHandle = new THREE.Mesh(bar, new THREE.MeshLambertMaterial({ color: 0x783f04 }));

				barHandle.position.x = 2.5;
				barHandle.position.y = 1.1;

				fence.add(barHandle)


				const bar2 = new THREE.BoxGeometry(5, 0.4, 1, 1, 1, 1)
				const barHandle2 = new THREE.Mesh(bar2, new THREE.MeshLambertMaterial({ color: 0x783f04 }));

				barHandle2.position.x = 2.5;
				barHandle2.position.y = 0.2;

				fence.add(barHandle2)

				fence.position.y = 5;

				fence.position.copy(pos);

				fence.rotation.y = rotationVariable


				scene.add(fence)




				return fence;


			}

			function createCylinder(pos, quat, w, l, h,colorVariable){

				const Cylinder = new THREE.Group();

				const geometry = new THREE.CylinderGeometry( w, l, h, 32 );
				const material = new THREE.MeshBasicMaterial( {color: colorVariable} );
				const CylinderMesh = new THREE.Mesh( geometry, material );

				Cylinder.add(CylinderMesh);
				
				Cylinder.position.copy(pos);
				scene.add( Cylinder );

				
			
			}

			function createText(post, quat, w, l, h) {

				const loader = new THREE.FontLoader();

				loader.load('./src/styles/gentilis_bold.typeface.json', function (font) {
					var textGeometry = new THREE.TextGeometry( "EASYSCOOT", {

					font: font,

					size: 18,
					height: 2,
					curveSegments: 2,

					bevelThickness: 1,
					bevelSize: 1,
					bevelEnabled: true

					});

					var textMaterial = new THREE.MeshPhongMaterial( 
					{ color: 0xffffff, specular: 0xffffff }
					);

					var mesh = new THREE.Mesh( textGeometry, textMaterial );
					mesh.rotation.y = 3.15
					mesh.position.y = 30;
					mesh.position.z = 200;
					mesh.position.x = 90;

					scene.add( mesh );


				})

			}

			function createBox(pos, quat, w, l, h, mass, friction, colorVariable) {
				var material = mass > 0 ? materialDynamic : materialStatic;
				var shape = new THREE.BoxGeometry(w, l, h, 1, 1, 1);
				var geometry = new Ammo.btBoxShape(new Ammo.btVector3(w * 0.5, l * 0.5, h * 0.5));

				if (!mass) mass = 0;
				if (!friction) friction = 1;

				var mesh = new THREE.Mesh(shape, new THREE.MeshLambertMaterial({ color: colorVariable }));
				mesh.position.copy(pos);
				mesh.quaternion.copy(quat);
				scene.add(mesh);

				var transform = new Ammo.btTransform();
				transform.setIdentity();
				transform.setOrigin(new Ammo.btVector3(pos.x, pos.y, pos.z));
				transform.setRotation(new Ammo.btQuaternion(quat.x, quat.y, quat.z, quat.w));
				var motionState = new Ammo.btDefaultMotionState(transform);

				var localInertia = new Ammo.btVector3(0, 0, 0);
				geometry.calculateLocalInertia(mass, localInertia);

				var rbInfo = new Ammo.btRigidBodyConstructionInfo(mass, motionState, geometry, localInertia);
				var body = new Ammo.btRigidBody(rbInfo);

				body.setFriction(friction);
				//body.setRestitution(.9);
				//body.setDamping(0.2, 0.2);

				physicsWorld.addRigidBody(body);

				if (mass > 0) {
					body.setActivationState(DISABLE_DEACTIVATION);
					// Sync physics and graphics
					function sync(dt) {
						var ms = body.getMotionState();
						if (ms) {
							ms.getWorldTransform(TRANSFORM_AUX);
							var p = TRANSFORM_AUX.getOrigin();
							var q = TRANSFORM_AUX.getRotation();
							mesh.position.set(p.x(), p.y(), p.z());
							mesh.quaternion.set(q.x(), q.y(), q.z(), q.w());
						}
					}

					syncList.push(sync);
				}
			}

			function createWheelMesh(radius, width) {
				var t = new THREE.CylinderGeometry(radius, radius, width, 24, 1);
				t.rotateZ(Math.PI / 2);
				var mesh = new THREE.Mesh(t, new THREE.MeshLambertMaterial({ color: 0x444444 }));
				mesh.add(new THREE.Mesh(new THREE.BoxGeometry(width * 1.5, radius * 1.75, radius * .25, 1, 1, 1), new THREE.MeshLambertMaterial({ color: 0x000000 })));
				scene.add(mesh);
				return mesh;
			}

			function createChassisMesh(w, l, h) {

				const vehicule = new THREE.Group();

				const chassis = new THREE.BoxGeometry(w, l, h, 1, 1, 1);
				const meshChassis = new THREE.Mesh(chassis, new THREE.MeshLambertMaterial({ color: 0x808080 }));

				vehicule.add(meshChassis)

				const handlebar = new THREE.BoxGeometry(.5, 4, 0.5, 1, 1, 1);
				const meshHandleBar = new THREE.Mesh(handlebar, new THREE.MeshLambertMaterial({ color: 0x808080 }));

				meshHandleBar.position.y = 2.2
				meshHandleBar.position.z = 1.5
				vehicule.add(meshHandleBar)

				const bar = new THREE.BoxGeometry(3, .2, 0.5, 1, 1, 1);
				const MeshBar = new THREE.Mesh(bar, new THREE.MeshLambertMaterial({ color: 0x808080 }));

				MeshBar.position.y = 4.1
				MeshBar.position.z = 1.5
				vehicule.add(MeshBar)

				
				distanteCam = new THREE.Object3D;
				vehicule.add(distanteCam)
				distanteCam.position.set(0,8,-20)

				scene.add(vehicule);
				return vehicule;
			}

			function createVehicle(pos, quat) {

				// Vehicle contants

				var chassisWidth = 1.8;
				var chassisHeight =0.7;
				var chassisLength = 4;
				var massVehicle = 800;

				var wheelAxisPositionBack = -1;
				var wheelRadiusBack = .5;
				var wheelWidthBack = .3;
				var wheelHalfTrackBack = 0.5;
				var wheelAxisHeightBack = .3;

				var wheelAxisFrontPosition = 1.7;
				var wheelHalfTrackFront = 0;
				var wheelAxisHeightFront = .3;
				var wheelRadiusFront = .5;
				var wheelWidthFront = .2;

				var friction = 1000;
				var suspensionStiffness = 20.0;
				var suspensionDamping = 2.3;
				var suspensionCompression = 4.4;
				var suspensionRestLength = 0.6;
				var rollInfluence = 0.2;

				var steeringIncrement = .04;
				var steeringClamp = .5;
				var maxEngineForce = 2000;
				var maxBreakingForce = 100;


			// Chassis
			var geometry = new Ammo.btBoxShape(new Ammo.btVector3(chassisWidth * .5, chassisHeight * .5, chassisLength * .5));
					var transform = new Ammo.btTransform();
					transform.setIdentity();
					transform.setOrigin(new Ammo.btVector3(pos.x, pos.y, pos.z));
					transform.setRotation(new Ammo.btQuaternion(quat.x, quat.y, quat.z, quat.w));
					var motionState = new Ammo.btDefaultMotionState(transform);
					var localInertia = new Ammo.btVector3(0, 0, 0);
					geometry.calculateLocalInertia(massVehicle, localInertia);
					var body = new Ammo.btRigidBody(new Ammo.btRigidBodyConstructionInfo(massVehicle, motionState, geometry, localInertia));
					body.setActivationState(DISABLE_DEACTIVATION);
					physicsWorld.addRigidBody(body);
					var chassisMesh = createChassisMesh(chassisWidth, chassisHeight, chassisLength);

					// Raycast Vehicle
					var engineForce = 0;
					var vehicleSteering = 0;
					var breakingForce = 0;
					var tuning = new Ammo.btVehicleTuning();
					var rayCaster = new Ammo.btDefaultVehicleRaycaster(physicsWorld);
					var vehicle = new Ammo.btRaycastVehicle(tuning, body, rayCaster);
					vehicle.setCoordinateSystem(0, 1, 2);
					physicsWorld.addAction(vehicle);

					// Wheels
					var FRONT_LEFT = 0;
					var FRONT_RIGHT = 1;
					var BACK_LEFT = 2;
					var BACK_RIGHT = 3;
					var wheelMeshes = [];
					var wheelDirectionCS0 = new Ammo.btVector3(0, -1, 0);
					var wheelAxleCS = new Ammo.btVector3(-1, 0, 0);

					function addWheel(isFront, pos, radius, width, index) {

						var wheelInfo = vehicle.addWheel(
								pos,
								wheelDirectionCS0,
								wheelAxleCS,
								suspensionRestLength,
								radius,
								tuning,
								isFront);

						wheelInfo.set_m_suspensionStiffness(suspensionStiffness);
						wheelInfo.set_m_wheelsDampingRelaxation(suspensionDamping);
						wheelInfo.set_m_wheelsDampingCompression(suspensionCompression);
						wheelInfo.set_m_frictionSlip(friction);
						wheelInfo.set_m_rollInfluence(rollInfluence);

						wheelMeshes[index] = createWheelMesh(radius, width);
					}

					addWheel(true, new Ammo.btVector3(wheelHalfTrackFront, wheelAxisHeightFront, wheelAxisFrontPosition), wheelRadiusFront, wheelWidthFront, FRONT_LEFT);
					addWheel(true, new Ammo.btVector3(-wheelHalfTrackFront, wheelAxisHeightFront, wheelAxisFrontPosition), wheelRadiusFront, wheelWidthFront, FRONT_RIGHT);
					addWheel(false, new Ammo.btVector3(-wheelHalfTrackBack, wheelAxisHeightBack, wheelAxisPositionBack), wheelRadiusBack, wheelWidthBack, BACK_LEFT);
					addWheel(false, new Ammo.btVector3(wheelHalfTrackBack, wheelAxisHeightBack, wheelAxisPositionBack), wheelRadiusBack, wheelWidthBack, BACK_RIGHT);

				// Sync keybord actions and physics and graphics
				function sync(dt) {

					var speed = vehicle.getCurrentSpeedKmHour();

					// speedometer.innerHTML = (speed < 0 ? '(R) ' : '') + Math.abs(speed).toFixed(1) + ' km/h';

					breakingForce = 0;
					engineForce = 0;

					if (actions.acceleration) {
						if (speed < -1)
							breakingForce = maxBreakingForce;
						else engineForce = maxEngineForce;
						if(speed > 35)
						engineForce = -maxEngineForce / 5;

					}
					if (actions.braking) {
						if (speed > 1)
							breakingForce = maxBreakingForce;
						else engineForce = -maxEngineForce / 5;
					}
					if (actions.left) {
						if (vehicleSteering < steeringClamp)
							vehicleSteering += steeringIncrement;
					}
					else {
						if (actions.right) {
							if (vehicleSteering > -steeringClamp)
								vehicleSteering -= steeringIncrement;
						}
						else {
							if (vehicleSteering < -steeringIncrement)
								vehicleSteering += steeringIncrement;
							else {
								if (vehicleSteering > steeringIncrement)
									vehicleSteering -= steeringIncrement;
								else {
									vehicleSteering = 0;
								}
							}
						}
					}

					vehicle.applyEngineForce(engineForce, BACK_LEFT);
					vehicle.applyEngineForce(engineForce, BACK_RIGHT);

					vehicle.setBrake(breakingForce / 2, FRONT_LEFT);
					vehicle.setBrake(breakingForce / 2, FRONT_RIGHT);
					vehicle.setBrake(breakingForce, BACK_LEFT);
					vehicle.setBrake(breakingForce, BACK_RIGHT);

					vehicle.setSteeringValue(vehicleSteering, FRONT_LEFT);
					vehicle.setSteeringValue(vehicleSteering, FRONT_RIGHT);

					var tm, p, q, i;
					var n = vehicle.getNumWheels();
					for (i = 0; i < n; i++) {
						vehicle.updateWheelTransform(i, true);
						tm = vehicle.getWheelTransformWS(i);
						p = tm.getOrigin();
						q = tm.getRotation();
						wheelMeshes[i].position.set(p.x(), p.y(), p.z());
						wheelMeshes[i].quaternion.set(q.x(), q.y(), q.z(), q.w());
					}

					tm = vehicle.getChassisWorldTransform();
					p = tm.getOrigin();
					q = tm.getRotation();
					chassisMesh.position.set(p.x(), p.y(), p.z());
					chassisMesh.quaternion.set(q.x(), q.y(), q.z(), q.w());
				}

				syncList.push(sync);
			}

			function createObjects() {

				// Floor (trottoir)
				createBox(new THREE.Vector3(0, -0, 0), ZERO_QUATERNION, 800, 1, 800, 0, 2,  0x000000);

				// var quaternion = new THREE.Quaternion(0, 0, 0, 1);
				// quaternion.setFromAxisAngle(new THREE.Vector3(1, 0, 0), -Math.PI / 18);
				// createBox(new THREE.Vector3(0, -1.5, 0), quaternion, 8, 4, 10, 0);

				// There is road
				// createBox(new THREE.Vector3(0, 0, 55), ZERO_QUATERNION, 800, 1, 20, 0, 10, 0x000000);
				// createBox(new THREE.Vector3(100, 0, 55), ZERO_QUATERNION, 20, 1, 800, 0, 10, 0x000000);
				// createBox(new THREE.Vector3(350, 0, -0), ZERO_QUATERNION, 20, 1, 750, 0, 10, 0x000000);
				// createBox(new THREE.Vector3(-5, 0, 0), ZERO_QUATERNION, 20, 1, 750, 0, 10, 0x000000);
				// createBox(new THREE.Vector3(0, 0, -300), ZERO_QUATERNION, 900, 1, 20, 0, 10, 0x000000);
				// createBox(new THREE.Vector3(0, 0, 300), ZERO_QUATERNION, 900, 1, 20, 0, 2, 0x000000);
				// createBox(new THREE.Vector3(-350, 0, -0), ZERO_QUATERNION, 20, 1, 750, 0, 2, 0x000000);

			


				// createCylinder(new THREE.Vector3(-5, -9, 150), ZERO_QUATERNION, 20, 20, 20,0xaab0b7)



				// Pointiller de la route
				for (let j = 0; j < 80; j++) {
					var quaternion = new THREE.Quaternion(0, 0, 0, 1);

					// On prend en compte qu'une intersection prend 3 - 4pointillets

					if(j<17 || j>20){
						if(j<66 || j>70){
							createBox(new THREE.Vector3(10 + j * 5, -1.35, 55), quaternion, 2, 3.9, 1, 0);
							createBox(new THREE.Vector3(10 + j * 5, -1.35, -300), quaternion, 2, 3.9, 1, 0);

							createBox(new THREE.Vector3(10 + j * 5, -1.35, 300), quaternion, 2, 3.9, 1, 0);
							
							
						}
					}

					if(j<64){
						createBox(new THREE.Vector3(-20 + -j * 5, -1.35, 55), quaternion, 2, 3.9, 1, 0);
						createBox(new THREE.Vector3(-20 + -j * 5, -1.35, -300), quaternion, 2, 3.9, 1, 0);

						createBox(new THREE.Vector3(-20 + -j * 5, -1.35, 300), quaternion, 2, 3.9, 1, 0);

					}
				}

				for(let v = 0; v < 58; v++){
					if(v<9 || v>13){
						createBox(new THREE.Vector3(-350, -1.35, v*5), quaternion, 1, 3.9, 2, 0);
						createBox(new THREE.Vector3(350, -1.35, v*5), quaternion, 1, 3.9, 2, 0);
						createBox(new THREE.Vector3(100, -1.35,v*5), quaternion, 1, 3.9, 2, 0);
						createBox(new THREE.Vector3(-4, -1.35,v*5), quaternion, 1, 3.9, 2, 0);
					}


					createBox(new THREE.Vector3(-350, -1.35,-v*5), quaternion, 1, 3.9, 2, 0);
					createBox(new THREE.Vector3(350, -1.35,-v*5), quaternion, 1, 3.9, 2, 0);
					createBox(new THREE.Vector3(100, -1.35,-v*5), quaternion, 1, 3.9, 2, 0);
					createBox(new THREE.Vector3(-4, -1.35,-v*5), quaternion, 1, 3.9, 2, 0);
				}
				

				// Batiments


				// createBox(new THREE.Vector3(20, 0, -25), ZERO_QUATERNION, 15, 70, 15, 0, 2, 0x1D1D1D)
				// createBox(new THREE.Vector3(-30, 0, -25), ZERO_QUATERNION, 15, 70, 15, 0, 2, 0x1D1D1D)
				// createBox(new THREE.Vector3(25, 0, 80), ZERO_QUATERNION, 15, 70, 15, 0, 2, 0x1D1D1D)
				// createBox(new THREE.Vector3(-35, 0, 80), ZERO_QUATERNION, 15, 70, 15, 0, 2, 0x1D1D1D)
				// createBox(new THREE.Vector3(45, 0, 75), ZERO_QUATERNION, 15, 70, 15, 0, 2, 0x1D1D1D)
				// createBox(new THREE.Vector3(-55, 0, 75), ZERO_QUATERNION, 15, 70, 15, 0, 2, 0x1D1D1D)

				// // Arche
				// createBox(new THREE.Vector3(25, 0, 200), ZERO_QUATERNION, 15, 100, 15, 0, 2, 0xFF9900)
				// createBox(new THREE.Vector3(-5, 44, 200), ZERO_QUATERNION, 60, 12, 15, 0, 2, 0xFF9900)
				// createBox(new THREE.Vector3(-35, 0, 200), ZERO_QUATERNION, 15, 100, 15, 0, 2, 0xFF9900)


				//Gros immeuble
				//createBox(new THREE.Vector3(30, 20, 20), ZERO_QUATERNION, 15, 140, 15, 0, 2, 0x808080)


				
				for(let p=10;p<80;p++){

				createBox(new THREE.Vector3(0+20+getRandomForBuilding(-10,10)*-p, 0.1, -350+getRandomForBuilding(-50,80)), ZERO_QUATERNION, 15, getRandomForBuilding(30,150), 15, 0, 2, 0x1D1D1D)
				createBox(new THREE.Vector3(0+20+getRandomForBuilding(-10,10)*p, 0.1, -350+getRandomForBuilding(-50,80)), ZERO_QUATERNION, 15, getRandomForBuilding(30,150), 15, 0, 2, 0x1D1D1D)
					
				createBox(new THREE.Vector3(0+20+getRandomForBuilding(-10,10)*p, 0.1, 380+getRandomForBuilding(-50,80)), ZERO_QUATERNION, 15, getRandomForBuilding(30,150), 15, 0, 2, 0x1D1D1D)
				createBox(new THREE.Vector3(0+20+getRandomForBuilding(-10,10)*-p, 0.1, 380+getRandomForBuilding(-50,80)), ZERO_QUATERNION, 15, getRandomForBuilding(30,150), 15, 0, 2, 0x1D1D1D)
				
				
				createBox(new THREE.Vector3(-420+20+getRandomForBuilding(-50,80), 0.1, getRandomForBuilding(-10,10)*p), ZERO_QUATERNION, 15, getRandomForBuilding(30,150), 15, 0, 2, 0x1D1D1D)
				createBox(new THREE.Vector3(400+20+getRandomForBuilding(-50,80), 0.1, getRandomForBuilding(-10,10)*p), ZERO_QUATERNION, 15, getRandomForBuilding(30,150), 15, 0, 2, 0x1D1D1D)
						
				createBox(new THREE.Vector3(-420+20+getRandomForBuilding(-50,80), 0.1, getRandomForBuilding(-10,10)*-p), ZERO_QUATERNION, 15, getRandomForBuilding(30,150), 15, 0, 2, 0x1D1D1D)
				createBox(new THREE.Vector3(400+20+getRandomForBuilding(-50,80), 0.1, getRandomForBuilding(-10,10)*-p), ZERO_QUATERNION, 15, getRandomForBuilding(30,150), 15, 0, 2, 0x1D1D1D)
						
				}

				for(let p=10;p<80;p++){

				createBox(new THREE.Vector3(0+20+getRandomForBuilding(-10,10)*-p, 0.1, -350+getRandomForBuilding(-50,80)), ZERO_QUATERNION, 15, getRandomForBuilding(30,150), 15, 0, 2, 0x1D1D1D)
				createBox(new THREE.Vector3(0+20+getRandomForBuilding(-10,10)*p, 0.1, -350+getRandomForBuilding(-50,80)), ZERO_QUATERNION, 15, getRandomForBuilding(30,150), 15, 0, 2, 0x1D1D1D)
					
				createBox(new THREE.Vector3(0+20+getRandomForBuilding(-10,10)*p, 0.1, 380+getRandomForBuilding(-50,80)), ZERO_QUATERNION, 15, getRandomForBuilding(30,150), 15, 0, 2, 0x1D1D1D)
				createBox(new THREE.Vector3(0+20+getRandomForBuilding(-10,10)*-p, 0.1, 380+getRandomForBuilding(-50,80)), ZERO_QUATERNION, 15, getRandomForBuilding(30,150), 15, 0, 2, 0x1D1D1D)


				createBox(new THREE.Vector3(-420+20+getRandomForBuilding(-50,80), 0.1, getRandomForBuilding(-10,10)*p), ZERO_QUATERNION, 15, getRandomForBuilding(30,150), 15, 0, 2, 0x1D1D1D)
				createBox(new THREE.Vector3(400+20+getRandomForBuilding(-50,80), 0.1, getRandomForBuilding(-10,10)*p), ZERO_QUATERNION, 15, getRandomForBuilding(30,150), 15, 0, 2, 0x1D1D1D)
						
				createBox(new THREE.Vector3(-420+20+getRandomForBuilding(-50,80), 0.1, getRandomForBuilding(-10,10)*-p), ZERO_QUATERNION, 15, getRandomForBuilding(30,150), 15, 0, 2, 0x1D1D1D)
				createBox(new THREE.Vector3(400+20+getRandomForBuilding(-50,80), 0.1, getRandomForBuilding(-10,10)*-p), ZERO_QUATERNION, 15, getRandomForBuilding(30,150), 15, 0, 2, 0x1D1D1D)
						
				}

				for(let p=10;p<30;p++){

				createBox(new THREE.Vector3(250+20+getRandomForBuilding(6,-8)*-p, 0.1, -125+getRandomForBuilding(6,-11)*-p), ZERO_QUATERNION, 15, getRandomForBuilding(30,150), 15, 0, 2, 0x1D1D1D)
				createBox(new THREE.Vector3(250+20+getRandomForBuilding(6,-8)*-p, 0.1, -125+getRandomForBuilding(6,-11)*-p), ZERO_QUATERNION, 15, getRandomForBuilding(30,150), 15, 0, 2, 0x1D1D1D)
				createBox(new THREE.Vector3(250+20+getRandomForBuilding(6,-8)*-p, 0.1, -125+getRandomForBuilding(6,-11)*-p), ZERO_QUATERNION, 15, getRandomForBuilding(30,150), 15, 0, 2, 0x1D1D1D)
				createBox(new THREE.Vector3(250+20+getRandomForBuilding(6,-8)*-p, 0.1, -125+getRandomForBuilding(6,-11)*-p), ZERO_QUATERNION, 15, getRandomForBuilding(30,150), 15, 0, 2, 0x1D1D1D)
							
				}


				
				for(let p=10;p<30;p++){

				createBox(new THREE.Vector3(-200+20+getRandomForBuilding(6,-10)*-p, 0.1, -125+getRandomForBuilding(6,-10)*-p), ZERO_QUATERNION, 15, getRandomForBuilding(30,150), 15, 0, 2, 0x1D1D1D)
				createBox(new THREE.Vector3(-200+20+getRandomForBuilding(6,-10)*-p, 0.1, -125+getRandomForBuilding(6,-10)*-p), ZERO_QUATERNION, 15, getRandomForBuilding(30,150), 15, 0, 2, 0x1D1D1D)
				createBox(new THREE.Vector3(-200+20+getRandomForBuilding(6,-10)*-p, 0.1, -125+getRandomForBuilding(6,-10)*-p), ZERO_QUATERNION, 15, getRandomForBuilding(30,150), 15, 0, 2, 0x1D1D1D)
				createBox(new THREE.Vector3(-200+20+getRandomForBuilding(6,-10)*-p, 0.1, -125+getRandomForBuilding(6,-10)*-p), ZERO_QUATERNION, 15, getRandomForBuilding(30,150), 15, 0, 2, 0x1D1D1D)
							
				}

				for(let p=10;p<30;p++){

				createBox(new THREE.Vector3(-200+20+getRandomForBuilding(6,-10)*-p, 0.1, 220+getRandomForBuilding(6,-8)*-p), ZERO_QUATERNION, 15, getRandomForBuilding(30,150), 15, 0, 2, 0x1D1D1D)
				createBox(new THREE.Vector3(-200+20+getRandomForBuilding(6,-10)*-p, 0.1, 220+getRandomForBuilding(6,-8)*-p), ZERO_QUATERNION, 15, getRandomForBuilding(30,150), 15, 0, 2, 0x1D1D1D)
				createBox(new THREE.Vector3(-200+20+getRandomForBuilding(6,-10)*-p, 0.1, 220+getRandomForBuilding(6,-6)*-p), ZERO_QUATERNION, 15, getRandomForBuilding(30,150), 15, 0, 2, 0x1D1D1D)
				createBox(new THREE.Vector3(-200+20+getRandomForBuilding(6,-10)*-p, 0.1, 220+getRandomForBuilding(6,-6)*-p), ZERO_QUATERNION, 15, getRandomForBuilding(30,150), 15, 0, 2, 0x1D1D1D)
							
				}

				for(let p=10;p<30;p++){

				createBox(new THREE.Vector3(250+20+getRandomForBuilding(6,-8)*-p, 0.1, 220+getRandomForBuilding(6,-8)*-p), ZERO_QUATERNION, 15, getRandomForBuilding(30,150), 15, 0, 2, 0x1D1D1D)
				createBox(new THREE.Vector3(250+20+getRandomForBuilding(6,-8)*-p, 0.1, 220+getRandomForBuilding(6,-8)*-p), ZERO_QUATERNION, 15, getRandomForBuilding(30,150), 15, 0, 2, 0x1D1D1D)
				createBox(new THREE.Vector3(250+20+getRandomForBuilding(6,-8)*-p, 0.1, 220+getRandomForBuilding(6,-6)*-p), ZERO_QUATERNION, 15, getRandomForBuilding(30,150), 15, 0, 2, 0x1D1D1D)
				createBox(new THREE.Vector3(250+20+getRandomForBuilding(6,-8)*-p, 0.1, 220+getRandomForBuilding(6,-6)*-p), ZERO_QUATERNION, 15, getRandomForBuilding(30,150), 15, 0, 2, 0x1D1D1D)
							
				}




				// Trotoir

				createBox(new THREE.Vector3(48, 0.1, -123), ZERO_QUATERNION, 86, 1, 336, 0, 2, 0x1D1D1D)
				createBox(new THREE.Vector3(-177, 0.1, -123), ZERO_QUATERNION, 327, 1, 336, 0, 2, 0x1D1D1D)
				createBox(new THREE.Vector3(-177, 0.1, 177), ZERO_QUATERNION, 327, 1, 227, 0, 2, 0x1D1D1D)
				createBox(new THREE.Vector3(48, 0.1, 177), ZERO_QUATERNION, 86, 1, 227, 0, 2, 0x1D1D1D)
				createBox(new THREE.Vector3(225, 0.1, 177), ZERO_QUATERNION, 230, 1, 227, 0, 2, 0x1D1D1D)

				createBox(new THREE.Vector3(225, 0.1, -123), ZERO_QUATERNION, 230, 1, 336, 0, 2, 0x1D1D1D)


				createBox(new THREE.Vector3(385, .1, 0), ZERO_QUATERNION, 50, 2, 1000, 0, 2, 0x1D1D1D)
				createBox(new THREE.Vector3(-385, .1, 0), ZERO_QUATERNION, 50, 2, 1000, 0, 2, 0x1D1D1D)
				createBox(new THREE.Vector3(0, .1, -335), ZERO_QUATERNION, 1000, 2, 50, 0, 2, 0x1D1D1D)
				createBox(new THREE.Vector3(0, .1, 335), ZERO_QUATERNION, 1000, 2, 50, 0, 2, 0x1D1D1D)

				//Arbres
				// for (i = 0; i >= -20; i--) {

				// 	const x = getRandomForBuilding(-10,10)
				// 	const y = getRandomForBuilding(-10,10)
					

				// 	createThree(new THREE.Vector3(-300,2,10+10*i))
				// 	createBox(new THREE.Vector3(-300,2,10+10*i), ZERO_QUATERNION, 2, 5, 2, 0, 2, 0x1D1D1D)
				// 	// createThree(new THREE.Vector3(-18, 5, -i * 10));
				// 	// createBox(new THREE.Vector3(-18, 1, -i * 10), ZERO_QUATERNION, 2, 5, 2, 0, 2, 0x1D1D1D)

				// }

				// createThree(new THREE.Vector3(18, 5, 40));
				// createThree(new THREE.Vector3(-28, 5, 40));



				// Barriere
				// for (i = 0; i <= 4; i++) {
				// 	createFence(new THREE.Vector3(6, 2, i * 10 + 2.5), ZERO_QUATERNION, 400, 2, 200, Math.PI / 2);
				// 	createFence(new THREE.Vector3(-16, 2, i * 10 + 2.5), ZERO_QUATERNION, 400, 2, 200, Math.PI / 2);
				// }

				// createFence(new THREE.Vector3(8, 2, 42.5), ZERO_QUATERNION, 400, 2, 200, 0);
				// createFence(new THREE.Vector3(-18, 2, 42.5), ZERO_QUATERNION, 400, 2, 200, Math.PI);
				// createFence(new THREE.Vector3(16, 2, 42.5), ZERO_QUATERNION, 400, 2, 200, 0);
				// createFence(new THREE.Vector3(-26, 2, 42.5), ZERO_QUATERNION, 400, 2, 200, Math.PI);

				//Texte
				createText();



				createVehicle(new THREE.Vector3(20, 10, -30), ZERO_QUATERNION);


			}

			// - Init -
			initGraphics();
			initPhysics();
			createObjects();
			tick();

		});

	</script>
</body>

</html>