.full{
    height:100vh;
}

.full_responsive{
    height:auto;
    margin-bottom:20vh;
}

/* .full_map{
    height:auto;
    margin-bottom:10vh;
} */

html{
    background-color:#ffffff
}


#Europe{
    /* padding-left:30%; */
    /* position: relative; */
    margin-left:50%;
    z-index:1;
}

#TextEurope{
    position: absolute;
    z-index:2;
}

#Draw{
    padding-bottom:95%;
    position: absolute;
    z-index:0;
}